* {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

body {
    background-image: url('assets/images/valorant_selection_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;

    position: relative;
}

.agentIcon {
    width: 4vw;
    height: 4vw;
    border: 1px solid #ffffff50;
}

.agentIcon:hover {
    background-color: #ffffff50;
}

.selected-agent {
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: center;

}

.selected-agent img {
    height: 96vh;
    margin-top: 2vh;

    position: absolute;
    z-index: -1;
}

/* Table */
.selection-table {
    width: 100%;
    margin-top: calc(81vh - 4vw);

    display: flex;
    justify-content: center;
}

table {
    border-collapse: separate;
    border-spacing: .4vw;
}

td img {
    display: flex;
    cursor: pointer;
}

/* Agent Information section */
.agent-information {
    position: absolute;
    top: 15vh;
    right: 5vw;
}

.icon-Abilities {
    width: 50px;
    height: 50px;
}

#role-name {
    font-size: 1vw;
    letter-spacing: 2px;
    color: #fff;
}

#agent-name {
    font-size: 50px;
    margin-bottom: 25px;
    color: rgb(220, 220, 119);
}

.abilities-table {
    font-size: 1vw;
    border-collapse: collapse;
}

.abilities-table tr:first-child{
    border-bottom: 1px solid #ffffff80;
}

.abilities-table tr:first-child td{
    height: 2.5vw;
}

/* Info td */
.abilities-table tr:first-child td:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.abilities-info
{
    height: 80%;
    width: 90%;
    background-color: #ffffff90;
    display: flex;
    align-items: center;
}
.abilities-info p
{
    color: #000;
    flex: 1;
    height: fit-content;
}

.abilities-table td {
    background-color: #ffffff20;
    width: 5vw;
    height: 3.5vw;

    border-right: 3px solid #00000005;
}

.abilities
{
    color: white;
    text-align: center;
}
.abilities-img {
    width: 2.2vw;
    height: 2.2vw;
    margin: 0 auto;
}

#player-and-abilities-info {
    width: 280px;
    margin-top: 20px;
    font-size: 13px;
    color: rgb(220, 220, 119);
}

#mini-title-role-player {
    margin-top: 15px;
    letter-spacing: 2px;
    color: aliceblue;
}

#role-text {
    width: 260px;
    margin-top: 5px;
    font-size: 13px;
    color: aliceblue;
}