*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url('assets/images/valorant_selection_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;

    position: relative;
}
.agentIcon:hover{
 background-color: #ffffff50;
}

.agentIcon {
    width: 52px;
    height: 52px;

    border: 1px solid #ffffff50;
}

.selected-agent
{
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: center;
}
.selected-agent img {
    height: 96vh;
    margin-top: 2vh;

    position: absolute;
    z-index: -1;
}

/* Table */
.selection-table
{
    width: 100%;
    margin-top: calc(88vh - 52px);

    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

td {
    padding: 2px;
}

td img{
    display: flex;
    cursor: pointer;
}
